.about-me-h3{
    color: white;
    font-family: 'League Spartan', sans-serif;
    font-weight: bolder;
    margin-top:100px;
    opacity: 80%;
    line-height: 1.25;
    font-size: 1.55rem;
}

.about-me-content{
    position: relative;
}

.col-md-5{
    width: 46%;
    padding-bottom:50px;
}

.my-picture{
    margin:-50px;
    width:700px;
    height: 700px;
}

.row-about-content{
    margin-top:27px;
    position: relative;
}

.image-scroll{
    position: absolute;
    border-radius: 100%;
    width: 150px;
    height: 130px;
    right: 0px;
    bottom: 15px;
    animation: scrolling 10s infinite linear;
}

@keyframes scrolling{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 768px) {

    .row-about-content{
        flex-direction: column;
    }

    .col-md-5{
        width: 100%;
    }

    .my-picture{
        width: 330px;
        height: 330px;
    }

    .col2{
        margin-top:-50px;
        padding-bottom: 150px;
    }
}